<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sprucelearner"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".CourseListActivity"
            android:label="@string/title_course_list" >
            <intent-filter >
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CourseL2ListActivity"
            android:label="@string/title_course_l2list" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CourseListActivity" />
        </activity>
        <activity
            android:name=".CourseDetailActivity"
            android:label="@string/title_course_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CourseL2ListActivity" />
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_test" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TestActivity" />
        </activity>
        <activity
            android:name=".UnzipActivity"
            android:label="@string/unzip">
        
         <intent-filter>      
            <action android:name="android.intent.action.VIEW" />  
			<category android:name="android.intent.category.DEFAULT" />  
			<category android:name="android.intent.category.BROWSABLE" />  
			<data android:scheme="file" /> 
			<data android:mimeType="zip/application/zip" />  
			<data android:host="*" />  
			<data android:pathPattern=".*\\.zip" />  
		</intent-filter> 
		<intent-filter>      
			<data android:pathPattern=".*\\.rar" />  
		</intent-filter>   
        </activity>
    </application>

</manifest>